In [3]:
#Diamond Company Analytics Challenge

#Time: 35 minutes

#Scenario: You are the new data analyst at a prestigious diamond company. The CEO has called an urgent meeting and needs answers to critical business questions about the inventory.

#Your Mission: Analyze the diamond inventory data and provide insights to guide strategic decisions.

In [17]:
import polars as pl

# Load the diamonds dataset
print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

df.head()

Loading diamonds dataset...
Dataset loaded successfully!

shape: (5, 8)
┌──────────────┬───────┬───────┬─────────┬────────┬──────────┬────────┬───────┐
│ Carat Weight ┆ Cut   ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price │
│ ---          ┆ ---   ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---   │
│ f64          ┆ str   ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64   │
╞══════════════╪═══════╪═══════╪═════════╪════════╪══════════╪════════╪═══════╡
│ 1.1          ┆ Ideal ┆ H     ┆ SI1     ┆ VG     ┆ EX       ┆ GIA    ┆ 5169  │
│ 0.83         ┆ Ideal ┆ H     ┆ VS1     ┆ ID     ┆ ID       ┆ AGSL   ┆ 3470  │
│ 0.85         ┆ Ideal ┆ H     ┆ SI1     ┆ EX     ┆ EX       ┆ GIA    ┆ 3183  │
│ 0.91         ┆ Ideal ┆ E     ┆ SI1     ┆ VG     ┆ VG       ┆ GIA    ┆ 4370  │
│ 0.83         ┆ Ideal ┆ G     ┆ SI1     ┆ EX     ┆ EX       ┆ GIA    ┆ 3171  │
└──────────────┴───────┴───────┴─────────┴────────┴──────────┴────────┴───────┘

In [7]:
# Question 1

print(f"Shape: {df.shape}")

Shape: (6000, 8)

In [8]:
# Question 2

print(f"Columns: {df.columns}")

Columns: ['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish', 'Symmetry', 'Report', 'Price']

In [38]:
# Question 3

print(f"Total number of rows: {len(df)}")
print("\nEach row represents: ONE DIAMOND")
print("This is our current grain: diamond-level data")

Total number of rows: 6000

Each row represents: ONE DIAMOND
This is our current grain: diamond-level data

In [39]:
# Question 4

total_carat = df.select(pl.col("Carat Weight").sum()).item()
print(f"Total weight of all diamonds is {total_carat:,.2f} carats")

Total weight of all diamonds is 8,007.12 carats

In [25]:
# Question 5

# Count unique values
unique_count = df.select(pl.col("Cut").n_unique()).item()
print(f"Number of unique cuts: {unique_count}")

# Show what they are
unique_values = df.select(pl.col("Cut").unique().sort()).to_series().to_list()
print(f"The variety of cuts include: {unique_values}")

Number of unique cuts: 5
The variety of cuts include: ['Fair', 'Good', 'Ideal', 'Signature-Ideal', 'Very Good']

In [28]:
# Question 6

max_price = df.select(pl.col("Price").max()).item()
print(f"Our most valuable diamond costs: ${max_price:,.2f}")

min_price = df.select(pl.col("Price").min()).item()
print(f"Our least valuable diamond costs: ${min_price:,.2f}")

Our most valuable diamond costs: $101,561.00
Our least valuable diamond costs: $2,184.00

In [37]:
# Question 7

result = df.group_by("Color").agg(
    pl.col("Price").mean().alias("Average_Price"),
    pl.len().alias("Count")
).sort("Average_Price", descending=True)

print(result)

shape: (6, 3)
┌───────┬───────────────┬───────┐
│ Color ┆ Average_Price ┆ Count │
│ ---   ┆ ---           ┆ ---   │
│ str   ┆ f64           ┆ u32   │
╞═══════╪═══════════════╪═══════╡
│ D     ┆ 15255.783661  ┆ 661   │
│ F     ┆ 12712.241856  ┆ 1013  │
│ G     ┆ 12520.050633  ┆ 1501  │
│ E     ┆ 11539.190231  ┆ 778   │
│ H     ┆ 10487.347544  ┆ 1079  │
│ I     ┆ 8989.636364   ┆ 968   │
└───────┴───────────────┴───────┘

In [43]:
# Question 8


result = df.group_by("Clarity").agg(
    [pl.count().alias("Diamond_Count"),
    pl.col("Price").mean().alias("Average_Price"),
    pl.col("Carat Weight").sum().alias("Total_Carat_Weight")
]).sort("Clarity", descending=True)

print(result)

shape: (7, 4)
┌─────────┬───────────────┬───────────────┬────────────────────┐
│ Clarity ┆ Diamond_Count ┆ Average_Price ┆ Total_Carat_Weight │
│ ---     ┆ ---           ┆ ---           ┆ ---                │
│ str     ┆ u32           ┆ f64           ┆ f64                │
╞═════════╪═══════════════╪═══════════════╪════════════════════╡
│ VVS2    ┆ 666           ┆ 14142.177177  ┆ 876.58             │
│ VVS1    ┆ 285           ┆ 16845.680702  ┆ 389.43             │
│ VS2     ┆ 1575          ┆ 11809.053333  ┆ 2170.81            │
│ VS1     ┆ 1192          ┆ 13694.113255  ┆ 1682.74            │
│ SI1     ┆ 2059          ┆ 8018.864012   ┆ 2563.69            │
│ IF      ┆ 219           ┆ 22105.844749  ┆ 316.0              │
│ FL      ┆ 4             ┆ 63776.0       ┆ 7.87               │
└─────────┴───────────────┴───────────────┴────────────────────┘

/tmp/ipython-input-3129724538.py:5: DeprecationWarning: `pl.count()` is deprecated. Please use `pl.len()` instead.
  [pl.count().alias("Diamond_Count"),

In [48]:
# Question 9

result = df.group_by(["Cut", "Color"]).agg(
    pl.col("Price").mean().alias("avg_price")
).sort(["Cut", "Color"])

print("NEW GRAIN: one row per cut-color combination")
print(f"Number of unique combinations: {len(result)}")
result.head(10)

NEW GRAIN: one row per cut-color combination
Number of unique combinations: 30

shape: (10, 3)
┌──────┬───────┬──────────────┐
│ Cut  ┆ Color ┆ avg_price    │
│ ---  ┆ ---   ┆ ---          │
│ str  ┆ str   ┆ f64          │
╞══════╪═══════╪══════════════╡
│ Fair ┆ D     ┆ 6058.25      │
│ Fair ┆ E     ┆ 5370.625     │
│ Fair ┆ F     ┆ 6063.625     │
│ Fair ┆ G     ┆ 7345.52381   │
│ Fair ┆ H     ┆ 5908.5       │
│ Fair ┆ I     ┆ 4573.1875    │
│ Good ┆ D     ┆ 10058.716216 │
│ Good ┆ E     ┆ 8969.545455  │
│ Good ┆ F     ┆ 9274.007519  │
│ Good ┆ G     ┆ 9988.614865  │
└──────┴───────┴──────────────┘

In [52]:
# Questin 10

result = df.group_by(["Cut", "Color"]).agg(
    pl.col("Price").sum().alias("Inventory_Value"),
    pl.len().alias("Count"),
    ).sort("Inventory_Value", descending=True)

print(result)

result.head(5)

shape: (30, 4)
┌───────────┬───────┬─────────────────┬───────┐
│ Cut       ┆ Color ┆ Inventory_Value ┆ Count │
│ ---       ┆ ---   ┆ ---             ┆ ---   │
│ str       ┆ str   ┆ i64             ┆ u32   │
╞═══════════╪═══════╪═════════════════╪═══════╡
│ Ideal     ┆ G     ┆ 9363514         ┆ 690   │
│ Very Good ┆ G     ┆ 7140620         ┆ 578   │
│ Very Good ┆ F     ┆ 5648327         ┆ 455   │
│ Ideal     ┆ F     ┆ 5346782         ┆ 363   │
│ Ideal     ┆ H     ┆ 5279687         ┆ 458   │
│ …         ┆ …     ┆ …               ┆ …     │
│ Fair      ┆ G     ┆ 154256          ┆ 21    │
│ Fair      ┆ F     ┆ 145527          ┆ 24    │
│ Fair      ┆ H     ┆ 141804          ┆ 24    │
│ Fair      ┆ I     ┆ 73171           ┆ 16    │
│ Fair      ┆ D     ┆ 72699           ┆ 12    │
└───────────┴───────┴─────────────────┴───────┘

shape: (5, 4)
┌───────────┬───────┬─────────────────┬───────┐
│ Cut       ┆ Color ┆ Inventory_Value ┆ Count │
│ ---       ┆ ---   ┆ ---             ┆ ---   │
│ str       ┆ str   ┆ i64             ┆ u32   │
╞═══════════╪═══════╪═════════════════╪═══════╡
│ Ideal     ┆ G     ┆ 9363514         ┆ 690   │
│ Very Good ┆ G     ┆ 7140620         ┆ 578   │
│ Very Good ┆ F     ┆ 5648327         ┆ 455   │
│ Ideal     ┆ F     ┆ 5346782         ┆ 363   │
│ Ideal     ┆ H     ┆ 5279687         ┆ 458   │
└───────────┴───────┴─────────────────┴───────┘